.Body {
    color: #545454;
    font-family: 'Cochin', 'Times New Roman', serif;
    font-size: 16px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 20px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.Body_Small {
    color: #545454;
    font-family: 'Cochin', 'Times New Roman', serif;
    font-size: 16px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 22px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.Free_Form {
    color: #666666;
    font-family: 'Cochin', 'Times New Roman', serif;
    font-size: 18px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 21px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.Header {
    color: #545454;
    font-family: 'Cochin', 'Times New Roman', serif;
    font-size: 40px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    letter-spacing:    -0.04em;
    line-height: 46px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.Heading_2 {
    color: #262626;
    font-family: 'Cochin', 'Times New Roman', serif;
    font-size: 12px;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    letter-spacing:     0.04em;
    line-height: 14px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: uppercase;
}
.Heading_4 {
    color: #545454;
    font-family: 'Cochin', 'Times New Roman', serif;
    font-size: 16px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 22px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.Normal_External_352_477 {
    position: relative;
}
.Normal {
    padding: 4px;
}
.Normal_External_353_57 {
    position: relative;
}
.Normal_External_319_73 {
    position: relative;
}
.Rules {
    color: #000000;
    font-family: 'Cochin', 'Times New Roman', serif;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    letter-spacing:     0.04em;
    line-height: 17px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 10px;
    padding-top: 4px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.Title {
    color: #262626;
    font-family: 'Cochin', 'Times New Roman', serif;
    font-size: 24px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 28px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 11px;
    padding-top: 22px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.graphic_generic_body_textbox_style_default_SkipStroke {
    background: transparent;
    opacity: 1.00;
}
.graphic_generic_header_textbox_style_default_SkipStroke {
    background: transparent;
    opacity: 1.00;
}
.style_SkipStroke_6 {
    background: transparent;
    opacity: 1.00;
}
.style_SkipStroke_7 {
    background: transparent;
    opacity: 1.00;
}
.style_External_319_73 {
    position: relative;
}
.style_SkipStroke_8 {
    background: transparent;
    opacity: 1.00;
}
.graphic_generic_title_textbox_style_default_SkipStroke {
    background: transparent;
    opacity: 1.00;
}
.paragraph_style {
    color: #545454;
    font-family: 'Constantia-BoldItalic', 'Constantia', 'Constantia Bold Italic', 'Cochin', 'Times New Roman', serif;
    font-size: 48px;
    font-style: italic;
    font-variant: normal;
    font-weight: bold;
    letter-spacing:    -0.04em;
    line-height: 59px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.paragraph_style_1 {
    color: #545454;
    font-family: 'Cochin', 'Times New Roman', serif;
    font-size: 36px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    letter-spacing:    -0.04em;
    line-height: 41px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: right;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.paragraph_style_2 {
    color: #545454;
    font-family: 'Cochin-Bold', 'Cochin', 'Times New Roman', serif;
    font-size: 16px;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 21px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.paragraph_style_3 {
    color: #545454;
    font-family: 'CenturyGothic-Italic', 'Century Gothic', 'Cochin', 'Times New Roman', serif;
    font-size: 11px;
    font-style: italic;
    font-variant: normal;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 14px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.style_1 {
    font-family: 'TimesNewRomanPSMT', 'Times New Roman', serif;
    font-size: 14px;
    line-height: 18px;
}
.style_2 {
    font-size: 14px;
    line-height: 19px;
}
.style_3 {
    font-family: 'TimesNewRomanPS-ItalicMT', 'Times New Roman', serif;
    font-size: 14px;
    font-style: italic;
    line-height: 16px;
}
.style_4 {
    font-family: 'TimesNewRomanPSMT', 'Times New Roman', serif;
    font-size: 12px;
    line-height: 15px;
}
.style_5 {
    font-family: 'TimesNewRomanPSMT', 'Times New Roman', serif;
    font-size: 14px;
    line-height: 18px;
}
.style_6 {
    padding: 4px;
}
.style_External_186_543 {
    position: relative;
}
.style_7 {
    font-size: 16px;
    line-height: 22px;
}
.style_SkipStroke_5 {
    background: transparent;
    opacity: 1.00;
}
.style_External_353_57 {
    position: relative;
}
.style {
    padding: 4px;
}
.style_SkipStroke_1 {
    background: transparent;
    opacity: 1.00;
}
.style_SkipStroke {
    background: transparent;
    opacity: 1.00;
}
.style_SkipStroke_2 {
    background: transparent;
    opacity: 1.00;
}
.style_SkipStroke_3 {
    background: transparent;
    opacity: 1.00;
}
.style_SkipStroke_4 {
    background: transparent;
    opacity: 1.00;
}
.graphic_image_style_default_SkipStroke {
    background: transparent;
    opacity: 1.00;
}
.graphic_shape_layout_style_default_External_340_37 {
    position: relative;
}
.graphic_shape_layout_style_default {
    padding: 4px;
}
.graphic_textbox_layout_style_default_External_186_543 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_408_28 {
    position: relative;
}
.graphic_textbox_layout_style_default {
    padding: 4px;
}
.graphic_textbox_style_default_SkipStroke {
    background: transparent;
    opacity: 1.00;
}
a {
    color: #262626;
    text-decoration: none;
}
a:visited {
    color: #666666;
    text-decoration: none;
}
a:hover {
    color: #545454;
    text-decoration: none;
}
#widget0 a:hover {
    color: #545454;
    text-decoration: none;
}
#widget0 a:visited {
    color: #666666;
    text-decoration: none;
}
.tinyText {
    font-size: 1px;
    line-height: 1px;
}
#widget0 a {
    color: #262626;
    text-decoration: none;
}
.bumper {
    font-size: 1px;
    line-height: 1px;
}
.spacer {
    font-size: 1px;
    line-height: 1px;
}
body { 
    -webkit-text-size-adjust: none;
}
div { 
    overflow: visible; 
}
img { 
    border: none; 
}
.InlineBlock { 
    display: inline; 
}
.InlineBlock { 
    display: inline-block; 
}
.inline-block {
    display: inline-block;
    vertical-align: baseline;
    margin-bottom:0.3em;
}
.vertical-align-middle-middlebox {
    display: table;
}
.vertical-align-middle-innerbox {
    display: table-cell;
    vertical-align: middle;
}
div.paragraph {
    position: relative;
}
li.full-width {
    width: 100;
}
